<app-dialog [open]="open()" title="Cambiar contraseña" panelBackground="var(--ppam-surface)" (closed)="onCancel()">
  <app-button dialogToolbar type="button" icon="save" [disabled]="form.invalid || saving()" (click)="onSave()">
    Guardar
  </app-button>
  <app-button dialogToolbar type="button" variant="secondary" icon="close" (click)="onCancel()">
    Cancelar
  </app-button>

  <form class="form-grid" [formGroup]="form" (ngSubmit)="onSave()">
    <app-form-field label="Contraseña actual" [required]="true" [control]="form.controls.currentPassword">
      <input
        type="password"
        formControlName="currentPassword"
        class="ppam-input"
        maxlength="100"
        autocomplete="current-password"
      />
    </app-form-field>

    <app-form-field label="Nueva contraseña" [required]="true" [control]="form.controls.newPassword">
      <input
        type="password"
        formControlName="newPassword"
        class="ppam-input"
        maxlength="100"
        autocomplete="new-password"
      />
    </app-form-field>

    <app-form-field
      label="Confirmar nueva contraseña"
      [required]="true"
      [control]="form.controls.confirmPassword"
      [customError]="confirmPasswordError()"
    >
      <input
        type="password"
        formControlName="confirmPassword"
        class="ppam-input"
        maxlength="100"
        autocomplete="new-password"
      />
    </app-form-field>
  </form>
</app-dialog>
